## Ghost env
## see https://ghost.org/docs/config/#configuration-options
#NODE_ENV=development
#url=http://192.168.1.4:2368/
url=https://www.lansingcompletestreets.org/
database__client=mysql
database__connection__host=db
database__connection__user=ghost
database__connection__password='db_ghost_password'
database__connection__database=ghost
#mail__transport: 'SMTP'
#mail__options__host: 'smtp.mailgun.org'
#mail__options__port: 587
#mail__options__auth__user: 'postmaster@lansingcompletestreets.org'
#mail__options__auth__pass: 'smtp_password'
#mail__from: '\'Lansing Complete Streets\' <admin@lansingcompletestreets.org>'
## MariaDB env
MYSQL_ROOT_PASSWORD='secure_root_password'
MYSQL_USER=ghost
MYSQL_PASSWORD='db_ghost_password'
MYSQL_DATABASE=ghost
