<header>
  <h1>Lansing Complete Streets</h1>
</header>

<main>
  <p>We are working to bring safe protected cycling infrastructure to Michigan Avenu and other areas in the Greater Lansing area.</p>
</main>

<footer>
Lansing Complete Streets
</footer>