<%= content_for(:title, "Lansing Complete Streets") %>
<header>
  <div>
    <h1><%= yield(:title) %></h1>
  </div>
</header>

<main>
  <div>
    <p>We are working to bring safe, <a href="http://www.protectedintersection.com/">protected cycling infrastructure</a> to Michigan Avenue and elsewhere in the Greater Lansing area.</p>
    <p>More information coming soon. In the meantime, please email <a href="mailto:info@lansingcompletestreets.org">info@lansingcompletestreets.org</a> for more details.</p>
    <%= image_tag "infographic/Protected_intersection_features.png", :style => "display: block; margin-left: auto; margin-right: auto; margin-bottom: 0; padding-bottom: 0;" %>
    <p style="margin-top: 0; padding-top: 0; text-align: center; font-size: 10px;">© <a href="https://commons.wikimedia.org/wiki/User:PRZ">User:PRZ</a> / <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a></p>
  </div>
</main>

<footer>
  <div>
    <p>Lansing Complete Streets</p>
  </div>
</footer>