<%= content_for(:title, "Message Sent") %>
<main>
  <div class="container">
    <div class="text-center py-5">
      <h1 class="display-4 fw-bold lh-1 text-center">Message Sent!</h1>
      <hr>
      <p>Nice job! You successfully sent us a message. If needed, someone will get back to you as soon as possible.</p>
    </div>
  </div>
</main>