<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 px-2 border-top">
  <div class="d-flex flex-column">
    <!--
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    -->
    <p class="mb-6 text-muted text-center">Lansing Complete Streets</p>
    <p class="mb-3 mb-md-0 text-muted text-center"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
  </div>

  <!--
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href=""><svg class="bi" width="24" height="24"><use xlink:href="#discord"/></svg></a></li>
  </ul>
  -->
</footer>