<div class="alert alert-info alert-dismissable fade show" role="alert">
  <strong>Next Meeting:</strong> TBD
  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
</div>